<!-- %%demo -->
<ol>
<li>Fetch
<a href="http://delayed-webrequest-demo.herokuapp.com">this</a>
into multiple other windows (or tabs).
</li><li>
Back here, reload this tab's contents.
</li><li>
In the alert box that results, hit Enter (or click OK) to see live updating happening in the other windows, one by one.
</li>Result from amqp: <%= @amqp_message %>
