<ol>
<li>Fetch
<a href="http://delayed-webrequest-demo.herokuapp.com">this</a>,
into window 2 (or tab).
</li><li>
Back here, reload this tab's contents.
</li><li>
In the alert box that results, hit Enter (or click OK) to see partial updating of window 2.
</li>Result from amqp: <%= @amqp_message %>
