You should bring
<a href=\"http://delayed-webrequest-demo.herokuapp.com\">this</a>
up in another window (or tab).
<br /><br />
<%= @amqp_message %>
<br /><br />
Then come back here (if you went) and refresh the screen.
<br /><br />
Click OK in the alert box, and you'll see the page change dynamically."
